section {
  max-width: 1900px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* gap: 50px; */
  /* margin-left: 100px; */
}

.container {
  margin: 0;
}

.content {
  display: flex;
}

.section-title {
  margin: 10px;
}

.ic {
  font-size: 2rem;
  margin: 1rem;
}

/* Goals */

.goals-content {
  margin: 10px;
}

/* Scopes */
.scopes-content {
display: flex;
}


/* margin */
/* Goals, team */
.goals,
.team {
  margin-bottom: 50px;
  margin-top: 30px;
}

/*Goals, Scopes*/
.goals,
.scopes {
  max-width: 800px;
  max-height: 400px;
  margin-right: 35px;
  margin-left: 20px;
}

.scopes, .primary{
  margin-bottom: 30px;
}

/* Timeline */
.timeline {
  padding-bottom: 14px;
  margin: 30px 20px 0 0;
  /* width: 33.33333333%; */
}

.grid-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 20px;
}

.num-list {
  background-color: #9a98e2;
  border-radius: 100%;
  border: 2px solid #595a65;
  width: 4rem;
  height: 4rem;
  text-align: center;
}

.timeline-border {
  border: 1px dashed #0505fc;
}

/* Tablet */
@media screen and (max-width: 767.98px) {
  section {
    max-width: 767px;
    display: inline-block;
    margin-left: 0;
  }

  .container {
    max-width: 767px;
  }

  .content {
    display: block;
  }

  .ic {
    text-align: center;
  }

  .goals {
max-height: 600px;
  }

  .goals,
  .team,
  .scopes,
  .primary,
  .timeline {
    display: inline-block;
    margin: 30px 60px;
    width: 80%;
  }

.scopes-content {
  display: block;
}

}

/* Mobile */
@media screen and (max-width: 575.98px) {
  section {
    max-width: 575px;
    display: inline-block;
    margin-left: 0;
  }

  .container {
    max-width: 575px;
  }

  .content {
    display: block;
  }

  .ic {
    text-align: center;
  }

  .goals {
max-height: 600px;
  }

  .goals,
  .team,
  .scopes,
  .primary,
  .timeline {
    display: inline-block;
    margin: 30px 60px;
    width: 80%;
  }

.scopes-content {
  display: block;
}
}
